 {
  /*ABOUT*/
}

#about-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.about-section {
  width: 750px;
  height: 600px;
  color: #e6e6e6;
}

#first-about-section {
  display: flex;
  gap: 25px;
  width: 1000px;
}

#second-about-section {
  width: 700px;
  border: 1px solid #66fcf1;
  border-radius: 25px;
}

#about-tech-buttons-list {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  list-style: none;
}

.tech-button-class {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #66fcf1;
  cursor: pointer;
  font-size: 21px;
}

.tech-button-class:hover {
  cursor: pointer;
  color: white;
}

.tech-images {
  display: grid;
  gap: 25%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.tech-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-links {
  position: relative;
  left: 15px;
  bottom: 7px;
  text-decoration: none;
  color: #66fcf1;
}

.about-me-button {
  position: relative;
  left: 15px;
  bottom: 7px;
  text-decoration: none;
  color: #66fcf1;
}

#email-button:hover {
  color: white;
}

.about-me-links:hover {
  color: white;
}

.about-me-paragraph {
  position: relative;
  height: 15px;
}

#about-section-cv-container {
  position: absolute;
  top: 520px;
  display: flex;
  flex-direction: column;
}

.cv-personal-letter-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #66fcf1;
  cursor: pointer;
  margin: 10px;
}

.cv-personal-letter-button:hover {
  cursor: pointer;
  color: white;
}

#email-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #66fcf1;
  cursor: pointer;
}

#email-dialog-interior {
  width: 600px;
  height: 750px;
  background-color: #2e3944;
}

#email-dialog-form {
  margin-left: 35px;
}

#text-area-email {
  height: 200px;
}

.email-input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cancel-email-dialog-button {
  position: relative;
  left: 490px;
  top: 25px;
  background: transparent;
  border: none;
}

#cancel-email-dialog-button:hover {
  background-color: white;
  opacity: 0.33;
  cursor: pointer;
}

#cancel-icon {
  width: 35px;
  height: 35px;
}

#email-send-button {
  position: relative;
  right: 50%;
  top: 50px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #66fcf1;
  cursor: pointer;
  font-size: 25px;
}

#email-send-button:hover {
  color: white;
}

.dialog-text {
  color: #66fcf1;
}

 {
  /*PROJECTS*/
}

#projects-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 50px;
  flex-wrap: wrap;
}

.project-section-title {
  width: 100px;
  position: relative;
  left: 220px;
  top: 5px;
  color: #66fcf1;
}

.image-click-paragraph {
  position: relative;
  bottom: 220px;
  left: 230px;
  opacity: 0.8;
  color: white;
  pointer-events: none;
  font-size: 24px;
  width: 100px;
  height: 100px;
}

.image-link-attribute {
  text-decoration: none;
  position: absolute;
  width: 100px;
  height: 100px;
}

.project-lower-text {
  color: rgb(203, 218, 217);
}

.project-lower-button {
  color: black;
  background-color: 2e3944;
  opacity: 0.2;
  width: 550px;
  height: 100px;
  cursor: pointer;
  font-size: 24px;
  border-top: solid 10px black;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.project-lower-button:hover {
  opacity: 1;
}

.project-lower-tech-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  position: relative;
  right: 35px;
  margin-bottom: 15px;
}

.project-lower-tech-image {
  height: 50px;
  border: 2px solid rgb(9, 170, 4);
  border-radius: 15px;
}

.project-lower-tech-li {
  width: 40px;
}

.project-description {
  color: rgb(203, 218, 217);
  width: 540px;
  height: 150px;
  border-radius: 15px;
}

.source-code-link {
  text-decoration: none;
  font-size: 22px;
  color: #66fcf1;
}

.source-code-link:hover {
  color: white;
}

 {
  /* BODY */
}

body {
  background-color: #212a31;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

 {
  /* HEADER */
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: #2e3944;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

#navbar-name {
  color: #66fcf1;
  margin-left: 50px;
}

#navbar-name:hover {
  color: white;
}

.navbar-button {
  font-size: 25px;
  margin-right: 50px;
  background-color: #2e3944;
  color: #66fcf1;
  border: none;
}

.navbar-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

 {
  /*ABOUT*/
}

 {
  /* IMAGES */
}

#profile-image {
  border-radius: 50px;
  width: 500px;
  height: 500px;
}

.about-me-icons {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 4px;
}

.skill-images {
  width: 150px;
  height: 150px;
}

.project-image {
  width: 550px;
  height: 350px;
  border-radius: 30px;
}

.project-image:hover {
  opacity: 0.5;
}

 {
  /*RESPONSIVENESS*/
}

 {
  /*Phone 360 - 430*/
}

@media (min-width: 360px) and (max-width: 430px) {
  #first-about-section {
    padding-right: 50px;
    position: relative;
    left: 50px;
    top: 125px;
  }

  #profile-image {
    display: none;
  }

  #about-me-information {
    width: 450px;
    position: relative;
    left: 55px;
  }

  #about-me-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    left: 50px;
    width: 520px;
  }

  #ul-navbar {
    position: relative;
    right: 65px;
  }
}

 {
  /*Ipad 768 - 1024*/
}

 {
  /*Small 344 - 540*/
}

 {
  /*Large 1280 - 1440 */
}
